absl-py==2.2.2
adb-homeassistant==1.3.2
aiohappyeyeballs==2.6.1
aiohttp==3.11.16
aiohttp-retry==2.9.1
aiosignal==1.3.2
altgraph==0.17.4
annotated-types==0.6.0
anyio==4.9.0
astunparse==1.6.3
attrs==25.3.0
audioread==3.0.1
beautifulsoup4==4.12.3
blinker==1.9.0
blis==0.7.11
bs4==0.0.2
cachelib==0.13.0
catalogue==2.0.10
certifi==2023.11.17
cffi==1.17.1
charset-normalizer==3.3.2
click==8.1.7
cloudpathlib==0.16.0
colorama==0.4.6
comtypes==1.4.10
confection==0.1.4
contourpy==1.3.1
cryptography==45.0.5
cycler==0.12.1
cymem==2.0.8
decorator==5.2.1
deepface==0.0.93
distlib==0.3.8
distro==1.9.0
dlib==19.24.2
docopt==0.6.2
face-recognition==1.3.0
face_recognition_models==0.3.0
fastapi==0.115.12
ffmpeg==1.4
filelock==3.13.1
fire==0.7.0
firetv==1.0.9
flash==1.0.3
Flask==3.1.0
flask-cors==5.0.1
Flask-Session==0.8.0
flatbuffers==25.2.10
fonttools==4.57.0
frozenlist==1.5.0
fsspec==2025.3.2
gast==0.6.0
gdown==5.2.0
getmac==0.9.5
google-pasta==0.2.0
grpcio==1.71.0
gunicorn==23.0.0
h11==0.14.0
h5py==3.13.0
httpcore==1.0.8
httpx==0.28.1
huggingface-hub==0.30.2
idna==3.6
itsdangerous==2.2.0
jax==0.6.2
jaxlib==0.6.2
Jinja2==3.1.2
jiter==0.9.0
joblib==1.4.2
Js2Py==0.74
keras==3.9.2
keyboard==0.13.5
kiwisolver==1.4.8
langcodes==3.3.0
lazy_loader==0.4
libclang==18.1.1
librosa==0.11.0
libusb1==3.3.1
llvmlite==0.44.0
lxml==5.2.1
lz4==4.4.4
Markdown==3.8
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib==3.10.1
mdurl==0.1.2
ml_dtypes==0.5.1
MouseInfo==0.1.3
msgpack==1.1.0
msgspec==0.19.0
mss==10.0.0
mtcnn==1.0.0
multidict==6.4.3
murmurhash==1.0.10
namex==0.0.8
ngrok==1.4.0
nltk==3.9.1
numba==0.61.2
numpy==1.26.3
openai==1.73.0
opencv-contrib-python==4.11.0.86
opencv-python==4.11.0.86
opt_einsum==3.4.0
optree==0.15.0
outcome==1.3.0.post0
packaging==23.2
pandas==2.2.2
pefile==2023.2.7
pillow==11.2.1
platformdirs==4.1.0
playsound==1.3.0
plyer==2.1.0
pooch==1.8.2
preshed==3.0.9
propcache==0.3.1
protobuf==4.25.8
psutil==7.0.0
pure-python-adb==0.3.0.dev0
pure-python-adb-homeassistant==0.1.7.dev0
pyasn1==0.6.1
PyAutoGUI==0.9.54
pycparser==2.22
pycryptodome==3.23.0
pycryptodomex==3.23.0
pydantic==2.5.3
pydantic_core==2.14.6
pygame==2.6.1
PyGetWindow==0.0.9
Pygments==2.19.1
pyinstaller==6.13.0
pyinstaller-hooks-contrib==2025.3
pyjokes==0.8.3
pyjsparser==2.7.1
PyJWT==2.10.1
PyMsgBox==1.0.9
pyngrok==7.2.11
pynput==1.8.1
pyparsing==3.2.3
pyperclip==1.9.0
pypiwin32==223
PyPrind==2.11.3
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.17.0
PyRect==0.2.0
PyScreeze==1.0.1
pyserial==3.5
pySmartDL==1.3.4
PySocks==1.7.1
pyspnego==0.11.2
pystray==0.19.5
python-dateutil==2.8.2
python-dotenv==1.1.0
pyttsx3==2.98
pytweening==1.2.0
pytz==2024.1
pywin32==310
pywin32-ctypes==0.2.3
PyYAML==6.0.2
regex==2024.11.6
requests==2.31.0
retina-face==0.0.17
rich==14.0.0
rsa==4.9.1
safetensors==0.5.3
scapy==2.6.1
scikit-learn==1.6.1
scipy==1.15.2
secure-smtplib==0.1.1
selenium==4.31.0
sentencepiece==0.2.0
setuptools==80.9.0
six==1.16.0
smart-open==6.4.0
smbprotocol==1.9.0
sniffio==1.3.1
sortedcontainers==2.4.0
sounddevice==0.5.1
soundfile==0.13.1
soupsieve==2.5
soxr==0.5.0.post1
spacy==3.7.2
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SpeechRecognition==3.14.2
speedtest==0.0.1
srsly==2.4.8
sspilib==0.3.1
starlette==0.46.2
tensorboard==2.19.0
tensorboard-data-server==0.7.2
tensorflow==2.19.0
termcolor==3.0.1
tf_keras==2.19.0
thinc==8.2.2
threadpoolctl==3.6.0
tk==0.1.0
tokenizers==0.21.1
tqdm==4.66.1
transformers==4.51.3
trio==0.30.0
trio-websocket==0.12.2
twilio==9.5.2
typer==0.9.0
typing_extensions==4.13.2
tzdata==2024.1
tzlocal==5.3.1
urllib3==2.1.0
uvicorn==0.34.2
virtualenv==20.25.0
wasabi==1.1.2
weasel==0.3.4
webdriver-manager==4.0.2
websocket-client==1.8.0
Werkzeug==3.1.3
wget==3.2
wheel==0.45.1
WMI==1.5.1
wrapt==1.17.2
wsproto==1.2.0
xlsxwriter==3.2.5
yarl==1.19.0



